body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
h1 {
  text-shadow: 1px 1px 5px #000000;
}
h3 {
  margin: 0;
}
.btn {
 margin: 10px;
 padding: 5px 25px;
 background: #FFFFFF;
 border: none;
 font-size: 18px;
 text-transform: uppercase;
 text-decoration: none;
 color: #000000;
 border: 1px solid #000000;
 border-radius: 10px;
}
a.btn:active {
  background: #4554FF;
  color: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.banner-wrapper {
  width: 100%;
  height: 60px;
  background: #4554FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.8)
}
.banner {
  display: flex;
  width: 250px;
  align-items: center;
}
.banner a {
  text-decoration: none;
  color: #FFFFFF;
}
.headericon {
  width: 40px;
  height: 40px;
  background: url('favicon.png');
  background-size: contain;
  margin-right: 15px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.leaderboard {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  display: none;
}
.highscorename,
.highscorenum {
  padding: 5px;
}
.controls {
  margin: 10px;
  display: flex;
}
.buttons {
  position: relative;
}
.button {
  background-size: contain;
}
.message {
  position: absolute;
  top: 46%;
  left: 40%;
  width: 120px;
  text-align: center;
  font-size: 25px;
  color: #FFFFFF;
  font-style: italic;
  font-weight: 700;
  text-shadow: 1px 1px 5px #000000;
}
.score {
  font-size: 40px;
  margin: 0 25px;
}
.red,
.green,
.blue,
.yellow {
  width:300px;
  height: 300px;
}
.red {
  border-radius: 300px 0px 0px 0px;
  background-image: url('images/r-dark.png');
}
.red.press {
  border-radius: 300px 0px 0px 0px;
  background-image: url('images/r-light.png');
}
.green {
  border-radius: 0px 300px 0px 0px;
  background-image: url('images/g-dark.png');
}
.green.press {
  border-radius: 0px 300px 0px 0px;
  background-image: url('images/g-light.png');
}
.blue {
  border-radius: 0px 0px 300px 0px;
  background-image: url('images/b-dark.png');
}
.blue.press {
  border-radius: 0px 0px 300px 0px;
  background-image: url('images/b-light.png');
}
.yellow {
  border-radius: 0px 0px 0px 300px;
  background-image: url('images/y-dark.png');
}
.yellow.press {
  border-radius: 0px 0px 0px 300px;
  background-image: url('images/y-light.png');
}
.top,
.bottom {
  display: flex;
  flex-direction: row;
}
.bottom {
  margin-bottom: 10px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: #171717;
  margin-top: auto;
  color: #FFFFFF;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.8);
  font-size: 20px;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 1px;
}
